<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tt.admin.mapper.AdminMenuPermissionMapper">

    <!-- 通用结果映射 -->
    <resultMap id="BaseResultMap" type="com.tt.admin.entity.dao.AdminMenuPermission">
        <result column="id" property="id" jdbcType="BIGINT"/>
        <result column="menu_id" property="menuId" jdbcType="BIGINT"/>
        <result column="permission_id" property="permissionId" jdbcType="BIGINT"/>
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
        <result column="update_time" property="updateTime" jdbcType="TIMESTAMP"/>
    </resultMap>

    <!-- 通用字段 -->
    <sql id="Base_Column_List">
        id
        menu_id
        permission_id
        create_time
        update_time
    </sql>


    <!-- selectMenuIdByPermissionId --> 

    <!-- selectMenuIdByPermissionId --> 

    <select id="selectMenuIdByPermissionId" resultType="com.tt.admin.entity.dao.AdminMenuPermission">
        SELECT
            <include refid="Base_Column_List"/>
        FROM admin_menu_permission
        WHERE 1=1
        <if test="pids != null and pids.size() > 0">
             and permission_id in
            <foreach item="pid" collection="pids" open="(" separator="," close=")">
                #{pid}
            </foreach>
        </if>
    </select>
</mapper>